<h2 class="mb-4">Assignment 5</h2>
<p>Angular Services - Active and Inactive Users</p>

<h6>Guidelines: </h6>
<ol>
    <li>Creates a users data services</li>
    <li>Displays the active and inactive users</li>
    <li>Add an event switching users status to active or inactive</li>
    <li>Optimize the component with angular services</li>
</ol>

<h6>My Solution: </h6>
<div class="angular-services-assignment">
    <div class="row">
        <div class="col-lg-8 col-md-10">
           <app-active-users></app-active-users>
           <app-inactive-users></app-inactive-users>
        </div>
    </div>
</div>
