<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Component Assignment</h1>
            <p>2 ways of creating component</p>
            <div class="row mb-5">
                <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item">Creating Success Alert with CLI <span style="color: coral;">ng generate component [component-name]</span> or <span style="color:cornflowerblue">ng g c [component-name]</span></li>
                        <li class="list-group-item">Manual Creation with single .ts file</li>
                    </ul>
                </div>
            </div>
           

            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
    <hr>
    <div class="row course-section py-4">
        <app-server></app-server>
    </div>

    <hr> <!-- Assignment Section  -->
    <div class="row assignment2-section py-4">
        <app-assignment2></app-assignment2>
    </div>

    <hr> <!-- Assignment Section  -->
    <div class="row assignment3-section py-4">
        <app-assignment3></app-assignment3>
    </div>

    <hr><!-- Custom Property and Event Bindind -->
    <div class="row prop-event-binding py-4">
        <app-custom-binding></app-custom-binding>
    </div>

    <hr><!-- Custom Property and Event Bindind -->
    <div class="row assignment4-section py-4">
        <app-assignment4></app-assignment4>
    </div>

    <hr><!-- Custom Property and Event Bindind -->
    <div class="row custom-directives py-4">
       <p highLightText>This text has custom basic directives</p>
       <p appBetterHighlights>This text has custom better directives</p>
    </div>
</div>
